<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <h2><%= category.name %></h2>
      <%= category.product.each do |product| %>
         <td><%= image_tag product.photo.url %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
          <td><%= product.inventory %></td>
    
        <% end %>
  </tr>
<% end %>
</table>

<br />
